body {
background-color:rgba(68, 112, 28, 0.87);
text-align: center;
}
p {
    color: rgba(186, 196, 169, 0.5);
}
.aaa {
    font-style: italic;

}
.img {
    width: 30%;
.aaa {
    width:20%;
}

header {
    background-color: blue;
}